{% extends 'duck_admin/base.html' %}
{% load staticfiles %}
{% block extrastyle %}{{ block.super }}
    <style>
    #panel-login {
    max-width: 350px;
}

    .panel-single {
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    margin: 50px auto 20px;
}
        #panel-login {
    max-width: 350px;
}
#panel-login .controls {
    padding: 0 15px 15px !important;
}
#panel-login .alert-block {
    padding: 0;
}
#panel-login .alert-block ul {
    margin: 10px 15px;
    padding-left: 0;
}
#panel-login .alert-block ul li {
    list-style-type: none;
}
    </style>
</head>
{% endblock %}
{% block content %}

<div class="container">

  <form action="" method="post" id="login-form">
    <div class="panel panel-default panel-single" id="panel-login">
    {% csrf_token %}

      <div class="panel-heading">

        <h2 class="form-signin-heading">Page d'authentification </h2>

      </div>
      <div class="panel-body">
        {% if form.non_field_errors %}
    <div class="alert alert-block alert-danger">
        {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
        <ul>
            {{ form.non_field_errors|unordered_list }}
        </ul>
    </div>
{% endif %}
      <div id="div_id_username" class="row{% if form.username.errors %} has-error{% endif %}">
        <div class="controls clearfix">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control input-lg" id="id_username" maxlength="254" name="username" type="text" placeholder="Nom d'utilisateur">
        </div>
        {% for error in form.username.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
        {% endfor %}
        </div>
      </div>

      <div id="div_id_password" class="row{% if form.password.errors %} has-error{% endif %}">
        <div class="controls clearfix">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control input-lg" id="id_password" name="password" type="password" placeholder="Mot de passe">
        </div>
{% for error in form.password.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
        {% endfor %}
        </div>
      </div>
        <input type="hidden" name="next" value="{{ next }}" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </div>

    </div>
  </form>
</div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}w